{
  "extends": ["plugin:@next/next/recommended", "@berlysia/eslint-config/auto"],
  "overrides": [
    {
      "files": ["*.config.js", "*rc.js"],
      "rules": {
        "@typescript-eslint/no-require-imports": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "rules": {
    "class-methods-use-this": "off",
    "react/react-in-jsx-scope": "off",
    "react/destructuring-assignment": "off",
    "no-duplicate-imports": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "consistent-return": "off",
    "max-nested-callbacks": "off",
    "import/no-unresolved": "off"
  }
}
