{
  "extends": ["@berlysia/eslint-config/auto", "next", "next/core-web-vitals"],
  "overrides": [
    {
      "files": ["*.config.js", "*rc.js"],
      "rules": {
        "@typescript-eslint/no-require-imports": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["next-env.d.ts"],
      "rules": {
        "@typescript-eslint/triple-slash-reference": "off"
      }
    }
  ]
}
