@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  min-height: 100vh;
  overflow-y: scroll;

  font-weight: 400;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN",
    "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "Zen Kaku Gothic New", "Noto Sans JP", Meiryo, sans-serif;
  color: #233;

  scroll-padding-top: 48px;
  counter-reset: h1;

  @apply tw-text-base;
}

html:has(.vertical) {
  @media (width >= 640px) {
    @apply tw-overflow-y-visible;
  }
  @media (width < 640px) {
    @apply tw-overflow-y-hidden;
  }

  min-height: 100svh;
  height: 100%;
}

body {
  min-height: 100vh;
}

body:has(.vertical) {
  min-height: 100svh;
  height: 100%;
}

.vertical {
  /*
  これをつけないと、Safariで横スクロールがおきてしまう
  ページ全体のwidthが本文部分を横に伸ばしたときと同じだけの幅を持ってしまう
  hiddenではスクロールコンテナーになってしまい、ヘッダーのstickyが効かなくなる
  */
  overflow-x: clip;
  text-underline-position: under left;
}

aside {
  @apply tw-text-sm tw-text-gray-500 tw-mb-2;
}

hr.slash {
  block-size: 8px;
  --color: rgb(249 168 212);
  color: --color;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="3px" viewBox="0 0 3 3" fill="rgb(249 168 212)"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"/><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"/></svg>');
  background-size: 3px 3px;
  inline-size: 65%;
}

/* .verticalクラスが祖先についているときだけ表示する */
.vertical-only {
  display: none;
  .vertical & {
    display: revert;
  }
}

.vertical-tooltip {
  /* position: relative;
  &::after {
    text-indent: initial;
    font-style: initial;
    font-weight: initial;
    content: "この要素は縦書き用のCSSを必要としています";
    position: absolute;

    top: -40px;
    left: 100%;
    margin-left: 15px;
    height: 240px;
    padding: 10px;
    border-radius: 16px;
    background: #222;
    color: #eee;

    display: none;
  }
  &:hover::after {
    display: block;
  } */
}

.toc {
  border: 1px solid rgb(249 168 212);
  border-radius: 1rem;
  padding: 1rem;

  ol {
    counter-reset: toc;
    padding-inline-start: 1.2rem;

    .vertical & {
      background: linear-gradient(
        to bottom,
        transparent 0.6rem,
        rgb(249 168 212) 0.6rem,
        transparent 1rem 100%
      );
    }
    .horizontal & {
      background: linear-gradient(
        to right,
        transparent 0.6rem,
        rgb(249 168 212) 0.6rem,
        transparent 1rem 100%
      );
    }

    > li {
      display: block flow;
      list-style-type: none;
      list-style-position: inside;

      &::before {
        counter-increment: toc;
        content: counters(toc, ".") " ";
      }
    }
  }

  .toc-level {
    /* border-block-end: */
  }
}

.main-text-section {
  counter-reset: h2 h3 h4 h5 h6;

  h1 {
    @apply tw-text-4xl tw-border-be tw-border-is-2 tw-border-keyColor-200 tw-mbs-6 tw-mbe-2;
    counter-reset: h2 h3 h4 h5 h6;
    counter-increment: h1;

    > a::before {
      content: counter(h1) ". ";
    }
  }

  h2 {
    @apply tw-text-3xl tw-border-be tw-border-is tw-border-keyColor-200 tw-mbs-4 tw-mbe-2;
    counter-reset: h3 h4 h5 h6;
    counter-increment: h2;

    > a::before {
      content: counter(h1) "." counter(h2) ". ";
    }
  }

  h3 {
    @apply tw-text-2xl tw-border-be tw-border-keyColor-200 tw-mbs-3 tw-mbe-2;
    counter-reset: h4 h5 h6;
    counter-increment: h3;

    > a::before {
      content: counter(h1) "." counter(h2) "." counter(h3) ". ";
    }
  }

  h4 {
    @apply tw-text-xl tw-mbs-3 tw-mbe-2 tw-text-gray-800;
    counter-reset: h5 h6;
    counter-increment: h4;

    > a::before {
      content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". ";
    }
  }

  h5 {
    @apply tw-text-lg tw-mbs-2 tw-mbe-2 tw-text-gray-800;
    counter-reset: h6;
    counter-increment: h5;

    > a::before {
      content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
        counter(h5) ". ";
    }
  }

  h6 {
    @apply tw-text-lg tw-mbs-1 tw-mbe-1 tw-text-gray-800;
    counter-increment: h6;

    > a::before {
      content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
        counter(h5) "." counter(h6) ". ";
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    > a {
      color: currentColor;
      text-decoration: none;
    }

    > a:hover::after {
      @apply tw-text-base;
      content: " 🔗";
    }
  }

  blockquote {
    @apply tw-plb-2 tw-pis-4 tw-mlb-2 tw-border-is-8 tw-border-be tw-border-keyColor-300 tw-bg-keyColor-50 tw-text-gray-600;
  }

  strong {
    .horizontal & {
      background: linear-gradient(
        transparent 70%,
        rgb(254 202 202) /* bg-red-200 */ 0%
      );
    }
    .vertical & {
      @apply vertical-tooltip;
      background: linear-gradient(
        to left,
        transparent 70%,
        rgb(254 202 202) /* bg-red-200 */ 0%
      );
    }
  }

  em {
    .horizontal & {
      background: linear-gradient(
        transparent 70%,
        rgb(186 230 253) /* bg-sky-200 */ 0%
      );
    }
    .vertical & {
      @apply vertical-tooltip;
      background: linear-gradient(
        to left,
        transparent 70%,
        rgb(186 230 253) /* bg-sky-200 */ 0%
      );
    }
  }

  p {
    /* font-sizeとindentが一致していないと禁則処理が乱れるように見える */
    @apply tw-mlb-4 tw-indent-[1em] tw-text-lg tw-leading-8;
  }

  td,
  th {
    @apply tw-border tw-border-collapse tw-border-gray-400;
  }

  a {
    @apply tw-text-keyColor-600 tw-underline;

    &:visited {
      @apply tw-text-purple-800;
    }
  }

  pre:has(code) {
    .horizontal & {
      @apply tw-plb-8 tw-pli-4 tw-overflow-x-auto;
    }
    .vertical & {
      /* @apply tw-w-full tw-writing-horizontal-tb tw-overflow-auto;
      max-width: min(1008px, 100% - 2rem);*/

      > code {
        display: none;
        /* @apply tw-w-full tw-overflow-x-auto tw-overflow-y-auto; */
      }
      &::before {
        content: "（コードを見る場合は横書きにしてください）";
      }
    }
  }

  ul > li {
    list-style: auto;
    list-style-position: inside;
  }

  ol > li {
    list-style: decimal;
    list-style-position: inside;
  }

  li {
    @apply tw-text-lg tw-leading-8;
  }
}

.articleContentWrapper {
  .horizontal & {
    @apply tw-pt-2 tw-px-4;
  }

  .vertical & {
    @apply tw-py-4 tw-px-2;
    @media (width >= 640px) {
      @apply tw-writing-vertical-rl tw-w-full tw-overflow-x-visible tw-h-max tw-relative tw-box-border;

      /* ArticleSentinelの処理と対応している */
      @apply tw-columns-[50vh] tw-columns-[50svh];

      @apply tw-column-rule-size-1 tw-column-rule-style-solid tw-column-rule-color-keyColor-200 tw-column-fill-auto tw-gap-8;
    }
    @media (width < 640px) {
      @apply tw-writing-vertical-rl tw-w-full tw-overflow-x-scroll tw-h-full tw-line-break-strict;
    }
  }
}

.articleWrapper {
  @apply tw-w-full tw-flex tw-justify-center;

  :where(.vertical) & {
    font-weight: 400;
    font-family: "Hiragino Kaku Gothic ProN", "Yu Gothic Medium",
      "游ゴシック Medium", YuGothic, "游ゴシック体", "Zen Kaku Gothic New",
      "Noto Sans JP", Meiryo, sans-serif;

    @media (width >= 640px) {
      @apply tw-h-auto tw-w-full tw-max-w-full tw-relative tw-box-content;
    }
    @media (width < 640px) {
      @apply tw-h-[calc(100vh-2.5rem)] tw-h-[calc(100svh-2.5rem)];
    }
  }
}

.vertical .footer {
  writing-mode: vertical-rl;
}

.only-vertical,
.only-horizontal,
.only-vertical-column {
  display: none;
}

.horizontal .only-horizontal {
  display: revert;
}

@media (width < 640px) {
  .vertical .only-vertical {
    display: revert;
  }
}

@media (width >= 640px) {
  .vertical .only-vertical-column {
    display: revert;
  }
}

.horizontal .not-in-horizontal {
  display: none;
}

@media (width < 640px) {
  .vertical .not-in-vertical {
    display: none;
  }
}

@media (width >= 640px) {
  .vertical .not-in-vertical-column {
    display: none;
  }
}

.not-in-vertical,
.not-in-horizontal,
.not-in-vertical-column {
  display: revert;
}
