---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faAngleDoubleDown } from "@fortawesome/free-solid-svg-icons";
import Layout from "../layouts/Layout.astro";
import { FullHeightContainer } from "../components/FullHeightContainer/FullHeightContainer";
import { Talks } from "../components/Talks";
import { ArticleArea } from "../components/ArticleArea";
import { ArticleLinks } from "../components/ArticleLinks";
import { Profile } from "../components/Profile";
import { getByGenre } from "../seeds";

const props = {
  imasArticles: getByGenre("imas", 6),
  techArticles: getByGenre("tech", 6),
};
---

<Layout title="berlysia.net">
  <div class="tw-flex tw-flex-col">
    <FullHeightContainer className="tw-bg-pink-50">
      <Profile />
      <div
        class="tw-absolute tw-bottom-8 tw-h-8 tw-w-6 tw-text-3xl tw-animate-fade-blink"
      >
        <FontAwesomeIcon icon={faAngleDoubleDown} />
      </div>
    </FullHeightContainer>
    <FullHeightContainer className="tw-bg-white">
      <div class="tw-flex tw-flex-col tw-justify-center">
        <div class="tw-flex tw-flex-wrap md:tw-flex-row tw-flex-col">
          <div
            class="tw-w-full md:tw-w-1/2 tw-flex-shrink-0 tw-flex-grow tw-p-6"
          >
            <Talks withHatenaBookmark />
            <div class="tw-h-8"></div>
            <ArticleArea
              genreTitle="Tech Articles"
              articles={props.techArticles}
              withHatenaBookmark
            />
          </div>
          <div
            class="tw-w-full md:tw-w-1/2 tw-flex-shrink-0 tw-flex-grow tw-p-6"
          >
            <ArticleArea
              genreTitle="IM@S Articles"
              articles={props.imasArticles}
              withHatenaBookmark
            />
          </div>
        </div>
        <div class="tw-flex tw-justify-center">
          <ArticleLinks />
        </div>
      </div>
    </FullHeightContainer>
  </div>
</Layout>
