---
// Astroへようこそ！この3つのダッシュで囲まれた部分のコードが、
// 「コンポーネントのFront Matter」です。ブラウザで実行されることはありません。
console.log("これはブラウザではなく、ターミナルで実行されます！");
---

<!-- 以下は「コンポーネントテンプレート」です。これは単なるHTMLですが
     しかし、優れたテンプレートを作成するための魔法がいくつか散りばめられています。 -->
<html>
  <body>
    <h1>Hello, World!</h1>
    <style>
      h1 {
        color: orange;
      }
    </style>
  </body>
</html>
