---
---

<header
  class="tw-sticky tw-z-10 tw-top-0 tw-bg-keyColor-50 tw-h-10 tw-border-b tw-border-keyColor-200 tw-w-full tw-flex tw-justify-center"
>
  <div class="tw-max-w-screen-lg tw-w-full tw-h-full tw-relative">
    <div
      class="tw-flex tw-absolute tw-left-0 tw-w-10 tw-h-full tw-items-center"
    >
      <span class="tw-text-2xl tw-font-semibold tw-mx-2"><slot /></span>
    </div>
    <div class="tw-flex tw-right-0 tw-absolute tw-h-full tw-items-center">
      <a href="/" class="tw-block tw-w-fit tw-h-fit tw-mx-2">
        <img
          src="/avatar.jpg"
          alt="avatar"
          width="36px"
          height="36px"
          class="tw-block tw-rounded-md tw-border tw-border-keyColor-100"
        />
      </a>
    </div>
  </div>
</header>
