---
type Props = {
  title?: string;
  vertical?: boolean;
};
const { title, vertical } = Astro.props;
---

<header
  class="tw-sticky tw-z-10 tw-top-0 tw-left-0 tw-right-0 tw-bg-keyColor-50 tw-h-10 tw-border-b tw-border-keyColor-200 tw-w-full tw-flex tw-justify-center"
>
  <div class="tw-max-w-screen-lg tw-w-full tw-h-full tw-relative">
    <span class="tw-absolute tw-left-0 tw-leading-10 tw-align-baseline">
      <span class="tw-text-lg tw-font-semibold tw-ml-2"><slot /></span>
      {
        !vertical && title && (
          <>
            <span class="tw-mx-1">-</span>
            <span class="">{title}</span>
          </>
        )
      }
    </span>
    <div
      class="tw-flex tw-right-0 tw-top-0 tw-absolute tw-h-full tw-items-center"
    >
      <a href="/" class="tw-block tw-w-fit tw-h-fit tw-mx-2">
        <img
          src="/avatar.jpg"
          alt="avatar"
          width="36px"
          height="36px"
          class="tw-block tw-rounded-md tw-border tw-border-keyColor-100"
        />
      </a>
    </div>
  </div>
</header>
