@tailwind base; /* Preflight will be injected here */

@tailwind components;

@tailwind utilities;

* {
  font-family: "Lato", "Helvetica Neue", "Helvetica",
    "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic Medium", Meiryo,
    sans-serif;
  color: #233;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#__next {
  height: 100%;
}
