name: Node CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  NODE_VERSION: 18

jobs:
  vrt:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.39.0-focal
    steps:
      - id: env-key
        run: echo "value=${{ runner.os }}-${{ env.NODE_VERSION }}" >> $GITHUB_OUTPUT
      - id: lock-hash
        run: echo "value=${{ hashFiles('package.json', '**/yarn.lock', '.yarn/releases/yarn-*.cjs') }}" >> $GITHUB_OUTPUT
      - id: source-hash
        run: echo "value=${{ hashFiles('*.[cm]js','*.js','src/**/*.[jt]s','src/**/*.[jt]sx') }}" >> $GITHUB_OUTPUT
      - id: nextjs-cache-dir-path
        run: echo "value=${{ github.workspace }}/.next/cache" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "yarn"
      - run: yarn install
      - uses: actions/cache@v3
        id: nextjs_cache_id
        env:
          cache-name: cache-nextjs
        with:
          path: |
            ${{ steps.nextjs-cache-dir-path.outputs.value }}
          key: ${{ steps.env-key.outputs.value }}-${{ env.cache-name }}-${{ steps.lock-hash.outputs.value }}-${{ steps.source-hash.outputs.value }}
          restore-keys: |
            ${{ steps.env-key.outputs.value }}-${{ env.cache-name }}-${{ steps.lock-hash.outputs.value }}-
            ${{ steps.env-key.outputs.value }}-${{ env.cache-name }}-
      - run: yarn build
      - run: yarn test:vrt:ci
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-results
          path: test-results/

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
      - uses: actions/cache@v3
        id: node_modules_cache_id
        env:
          cache-name: cache-node-modules
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
      - run: echo '${{ toJSON(steps.node_modules_cache_id.outputs) }}'
      - if: ${{ steps.node_modules_cache_id.outputs.cache-hit != 'true' }}
        run: yarn install
      - run: yarn lint
      - run: yarn format:check
